			html{
				height:100% !important;
			}
			body{
				margin:0px;
				padding:0px;
				height:100% !important;
			}
			#topbar-container{
				width:100%;
				background-color:#171A21;
				height:150px;
				float:left;
			}
			#logo{
				background-color:#171A21;
				float:left;
				width:15%;
				height:150px;
			}
			#logoname{
				background-color:#171A21;
				float:left;
				margin: 50px 0px 0px 10px;
			}
			.topbar{
				color:white;
				background-color:#171A21;
				float:left;
				width:8%;
				height:30px;
				margin-left:8%;
				margin-top:100px;
				font-family:"Arial Black", Gadget, sans-serif;
			}
			#topbarlogo{
				height:150px;
				width:100%;
				float:left
			}
			#topbarname{
				height:150px;
				width:500px;
				float:left;
				padding:30px;
			}
			.topbar-link{
				color:#D0D0D0;
				text-decoration:none;
			}
			.topbar-link:hover{
				color:white;
			}
			#contentspace{
				background-image: linear-gradient(#194460, #1C374C, #1B2838);
				min-height:150%;
				width:100%;
			}
			#categorybar-container{
				width:15%;
				float:left;
				min-height:100%;
			}
			.categories{
				color:#2fd0d0;
				margin:5px 5px 5px 50px;
			}
			.category-link{
				color:#2fd0d0;
				text-decoration:none;
			}
			.category-link:hover{
				color:white;
				text-decoration:none;
			}
			.clear{
				clear:both;
			}
			#maincontent-container{
				width:77.5%;
				float:left;
				margin-left:20px;
				margin-top:5px;
			}
			#game-pic{
				width:40%;
				height:40%;
				margin-left:50px;
				float:left;
			}
			#game-vid{
				width:40%;
				height:40%;
				margin-left:50px;
				float:left;
			}
			#game-info{
				width:90%;
				height:57%;
				margin-top:10px;
				margin-left:5%;
			}
			iframe{
				width:100%;
				height:100%;
			}
			.game{
				width:100%;
				height:100%;
			}
			.game-link{
				color:white;
			}
			.description{
				color:white;
			}
			.game-link-container{
				margin-top:10px;
				margin-left:5%;
				background-color:red;
				width:80%;
				height:5%;
				text-align:center;
			}