			html{
				height:100% !important;
			}
			body{
				margin:0px;
				padding:0px;
				height:100% !important;
			}
			#topbar-container{
				width:100%;
				background-color:#171A21;
				height:150px;
				float:left;
			}
			#logo{
				background-color:#171A21;
				float:left;
				width:15%;
				height:150px;
			}
			#logoname{
				background-color:#171A21;
				float:left;
				margin: 50px 0px 0px 10px;
			}
			.topbar{
				color:white;
				background-color:#171A21;
				float:left;
				width:8%;
				height:30px;
				margin-left:8%;
				margin-top:100px;
				font-family:"Arial Black", Gadget, sans-serif;
			}
			#topbarlogo{
				height:150px;
				width:100%;
				float:left
			}
			#topbarname{
				height:150px;
				width:500px;
				float:left;
				padding:30px;
			}
			.topbar-link{
				color:#D0D0D0;
				text-decoration:none;
			}
			.topbar-link:hover{
				color:white;
			}
			#contentspace{
				background-image: linear-gradient(#194460, #1C374C, #1B2838);
				min-height:100%;
				width:100%;
			}
			#maincontent-container{
				width:40%;
				float:left;
				margin-left:20px;
				margin-top:5px;
			}
			.clear{
				clear:both;
			}
			#fbhead{
				padding-top:2%;
				padding-left:1%;
				color:#2fd0d0;
			}
			label{
				color:white;
			}
			.font{
				color:white !important;
			}
			#stattable{
				color:white;
				border-color:#2fd0d0;
			}